@use "./fonts";
@use "./build/core/variables";

.sequence-navigation {
    >.btn {
        border-radius: 0!important;
    }
}

.header-navigations {
    >button:not(:last-child){
        margin-right: 8px;
    }
}

#courseTabsNavigation {
    .header-action-bar  {
        .nav-link {
            border-radius: 0!important;
        }
    }
}